<ion-header>
  <ion-toolbar>
    <ion-title>Usuarios</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let character of characters" [routerLink]="['/profile/' + character.id]" >
      <ion-avatar slot="start">
        <img src="{{character.image}}" alt="">
      </ion-avatar>
      <ion-label>{{character.name}}</ion-label>
      <ion-button slot="end" fill="clear" (click)="deleteCharacter(character)">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
