<ion-header>
  <div class="" *ngIf="character">
    <ion-toolbar>
      <ion-title>{{character.name}}</ion-title>
      <ion-buttons slot="start">
        <ion-back-button defaultHref="usuarios"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
      </div>
  </ion-header>



<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col sizeMd="4" offsetMd="4">
        <div *ngIf="character">
          <ion-card class="ion-text-center">
            <ion-card-content>
              <img src="{{character.image}}" alt="">
              <ion-card-title>
                {{character.name}}
              </ion-card-title>
            </ion-card-content>

          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>


</ion-content>
