* {
  font-weight: 300;
}
ion-content {
  --background: linear-gradient(90deg, #616161 0, #9bc5c3 100%);
}

ion-text {
  position: absolute;
  top: 25%;
  h1 {
    font-size: 42px;
  }
  p {
    font-size: 14px;
    color: aliceblue;
  }
}

.actions {
  position: absolute;
  width: 90%;
  bottom: 16px;
}

ion-button {
  --border-radius: 9px;
  --box-shadow: none;
  text-transform: initial;
  font-size: 12px;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
  ion-button {
    width: 40%;
    --background: linear-gradient(90deg, #5f2c82 0, #49a09d 100%);
    // --color: #3b3b3b;
    --border-style: solid;
    // --border-color: linear-gradient(90deg, #616161 0, #9bc5c3 100%);
    --border-width: 0.5px;
  }
  ion-avatar {
    height: 12px;
    width: 12px;
    margin-right: 7px;
    margin-bottom: 1px;
  }
}

.separator {
  display: flex;
  justify-content: center;
  margin: 8px auto 10px;
  font-size: 12px;
  position: relative;

  .line {
    position: absolute;
    border-top: 1px solid #dfdfdf;
    width: 50px;
    height: 2px;
    top: 8px;
  }
  .right {
    right: 98%;
  }
  .left {
    left: 98%;
  }
}

.signup-btn {
  --background: linear-gradient(90deg, #8c36a5 0, #664bdc 100%);
}
.login {
  text-align: center;
  font-size: 12px;
  margin-top: 16px;
  a {
    color: #8c36a5;
    font-weight: 400;
    margin-left: 5px;
  }
}
