<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text>
    <h1>Bienvenido!</h1>
    <p>Este es el inicio de la aplicación. <br />Crea tú cuenta</p>
  </ion-text>
  <div class="actions">
    <div class="login-buttons">
      <ion-button>
        <ion-avatar>
          <img src="../../assets/images/f.png" alt="" />
        </ion-avatar>
        <ion-label>Facebook</ion-label>
      </ion-button>
      <ion-button>
        <ion-avatar>
          <img src="../../assets/images/g.png" alt="" />
        </ion-avatar>
        <ion-label>Google</ion-label>
      </ion-button>
    </div>
    <div class="separator">
      <span>or</span>
      <span class="line left"></span>
      <span class="line right"></span>
    </div>
    <ion-button class="signup-btn" expand="block"
      >Continuar con Email</ion-button>
    <p class="login">Ya tiene cuenta? <a>Iniciar Sesión</a></p>
  </div>
</ion-content>
